#intro {
  width: 1366px;
  /* height: 100vh;  */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/images/Background_Intro.png");
  background-size: cover;
  background-position: center;

  .container {
    width: 1040px;
    display: flex;
    flex-direction: column;
    margin-top: 120px;

    .info {
      display: flex;
      margin-bottom: 80px;

      header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 180px;
        margin-right: 180px;

        img {
          margin-bottom: 56px;
          width: 100px;
          height: 100px;
          border-radius: 100%;
        }

        .subtitle {
          font: var(--subtitle);
        }

        .text-sm {
          font: var(--text-sm);
          color: var(--gray-400);
          display: inherit;
          justify-content: center; /* Centraliza horizontalmente */
          align-items: center; /* Centraliza verticalmente */
          text-align: center; /* Garante alinhamento centralizado do texto */
        }

        h1 {
          display: flex;
          justify-content: center;
          margin-top: 8px;
          margin-bottom: 20px;
          font: var(--title-lg);
        }

        span {
          color: var(--red-color);
        }
      }
    }
    .tags {
      display: flex;
      justify-content: center;

      ul {
        display: grid;
        grid-auto-flow: column;

        gap: 16px;

        li {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 114px;
          height: 40px;
          border-radius: 20px;
          background-color: var(--gray-300);
          gap: 8px;
          padding-inline: 16px;
          padding-block: 9px;
          font: var(--text-md);

          .color-red {
            fill: var(--red-color); /* Altera a cor para vermelho */
          }

          .color-gray {
            fill: var(--gray-500);
          }

          .color-blue {
            fill: var(--blue-color);
          }

          .color-yellow {
            fill: var(--yellow-color);
          }

          .color-green {
            fill: var(--green-color);
          }
        }
      }
    }
  }
  .caret-double {
    display: grid;
    place-items: center; /* Centraliza horizontal e verticalmente */
    margin-top: 94px;
    margin-bottom: 57px;
  }
}

#projects {
  width: 1366px;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 72px;

    h3 {
      font: var(--subtitle);
      color: var(--red-color);
    }

    h2 {
      margin-top: 8px;
      margin-bottom: 56px;
    }
  }

  .grid {
    width: 1040px;
    height: 584px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 0 auto; /* Centraliza horizontalmente */
    margin-bottom: 144px;

    .card {
      background-color: var(--gray-300);
      padding: 12px;
      border-radius: 10px;
      border: 2px solid transparent; /* Borda inicial transparente */
      transition: border-color 0.3s ease, transform 0.2s ease; /* Suaviza a borda e o movimento */

      h4 {
        font: var(--title-sm);
        margin-block: 8px;
      }

      small {
        font: var(--text-sm);
        color: var(--gray-500);
      }

      img {
        border-radius: 10px;
      }

      &:hover {
        border-color: var(--primary-color); /* Cor da borda ao passar o mouse */
        transform: scale(1.05); /* Aumenta levemente o card para destacar */
      }
    }
  }
}

#services {
  width: 1366px;
  background-color: var(--gray-100);

  header {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-bottom: 56px; /* Espaço entre header e container */

    h3 {
      margin-top: 88px;
      font: var(--subtitle);
      color: var(--red-color);
    }

    h2 {
      margin-top: 8px;
    }
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    /* margin: 0 auto; Garante centralização */
    padding-bottom: 120px;

    figure {
      border: 1px solid var(--gray-200);
      border-radius: 12px;
      padding: 20px;
    }

    figcaption {
      margin-top: 10px;

      strong {
        font: var(--title-sm);
      }

      p {
        font: var(--text-sm);
        margin-top: 8px;
      }
    }
  }
}

#contact {
  width: 1366px;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  /* background-color: rgb(2, 15, 24); */
  background-image: url("../assets/images/Background_Contacts.png");
  background-size: cover;
  background-position: center;

  header {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 128px;
    margin-bottom: 48px;

    h3 {
      font: var(--subtitle);
      color: var(--purple-color);
    }

    h2 {
      font: var(--title-md);
      margin-block: 8px;
    }
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
      /* align-items: center; */
      width: 400px;
      list-style: none;
      margin-bottom: 200px;

      li {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        gap: 20px;
        background-color: var(--gray-300);
        margin-bottom: 16px;
        padding-block: 23px;
        border-radius: 8px;
        border: 2px solid transparent; /* Borda inicial transparente */
        padding-inline: 20px;

        h3 {
          width: 100%;
        }

        &:hover > img {
          box-shadow: blue;
          filter: brightness(0) invert(1) sepia(0) hue-rotate(300deg) saturate(500%); /* Ajustado para uma cor específica */
        }

        &:hover svg path {
          fill: #007BFF; /* Altere para a cor desejada, aqui um exemplo de azul */
        }

        &:hover {
          border-color: var(--blue-color);
        }
      }
    }
  }
}


