#intro {
  width: 1366px;
  height: 750px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  /* align-items: center; */
  /* flex-direction: column; */
  /* margin-bottom: 183px; */

  background-image: url("/assets/images/Background_Intro.png");
  background-size: cover;
  background-position: center;

  .container {
    width: 1040px;
    height: 447px;
    margin-top: 120px;
    margin-bottom: 183px;

    .info {
      display: flex;
      /* justify-content: center; */
      /* flex-direction: column; */
      margin-bottom: 80px;

      header {
        /* height: 327px; */
        /* width: 680px; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 180px;
        margin-right: 180px;

        img {
          margin-bottom: 56px;
        }

        .subtitle {
          font: var(--subtitle);
        }

        .text-sm {
          font: var(--text-sm);
          color: var(--gray-400);
          display: inherit;
          justify-content: inherit; /* Centraliza horizontalmente */
          align-items: center; /* Centraliza verticalmente */
          /* height: 100vh; contêiner ocupa a altura total da tela */
          text-align: center; /* Garante alinhamento centralizado do texto */
        }

        h1 {
          height: 67px;
          width: inherit;
          display: inherit;
          justify-content: inherit;
          margin-top: 8px;
          margin-bottom: 20px;
          font: var(--title-lg);
        }

        span {
          color: var(--red-color);
        }
      }
    }
  }

  .tags {
    display: flex;
    justify-content: center;

    ul {
      display: grid;
      grid-auto-flow: column;
      width: 754px;
      height: 40px;
      gap: 16px;

      li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 114px;
        height: 40px;
        border-radius: 20px;
        background-color: var(--gray-300);
        gap: 8px;
        padding-inline: 16px;
        padding-block: 9px;
        font: var(--text-md);

        .color-red {
          fill: var(--red-color); /* Altera a cor para vermelho */
        }

        .color-gray {
          fill: var(--gray-500);
        }

        .color-blue {
          fill: var(--blue-color);
        }

        .color-yellow {
          fill: var(--yellow-color);
        }

        .color-green {
          fill: var(--green-color);
        }
      }
    }
  }

  .caret-double {
    display: grid;
    place-items: center; /* Centraliza horizontal e verticalmente */
    margin-top: 94px;
    margin-bottom: 57px;
  }
}

#projects {
  width: 1366px;
  height: 917px;
  display: block;
  margin-top: 57px;

  header {
    display: flex;
    flex-direction: column;
    place-items: center;

    margin-top: 72px;

    h3 {
      font: var(--subtitle);
      color: var(--red-color);
    }

    h2 {
      margin-top: 8px;
      margin-bottom: 56px;
    }
  }

  .grid {
    width: 1040px;
    height: 584px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 0 auto; /* Centraliza horizontalmente */

    .card {
      background-color: var(--gray-300);
      padding: 12px;
      border-radius: 10px;

      h4 {
        font: var(--title-sm);
        margin-block: 8px;
      }

      small {
        font: var(--text-sm);
        color: var(--gray-500);
      }

      img {
        border-radius: 10px;
      }
    }
  }
}

#services {
  background-color: var(--gray-100);

  header {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-bottom: 56px; /* Espaço entre header e container */

    h3 {
      margin-top: 88px;
      font: var(--subtitle);
      color: var(--red-color);
    }

    h2 {
      margin-top: 8px;
    }
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 0 auto; /* Garante centralização */
    padding-bottom: 120px;

    figure {
      border: 1px solid var(--gray-200);
      border-radius: 12px;
      padding: 20px;
    }

    figcaption {
      margin-top: 10px;

      strong {
        font: var(--title-sm);
      }

      p {
        font: var(--text-sm);
        margin-top: 8px;
      }
    }
  }
}

#contact {
  width: 1366px;
  height: 787px;

  background-image: url(/assets/images/Background_Contacts.png);
  background-size: cover;
  background-position: center;

  header {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 128px;
    margin-bottom: 48px;

    h3 {
      font: var(--subtitle);
      color: var(--purple-color);
    }

    h2 {
      font: var(--title-md);
      margin-block: 8px;
    }
  }

  .container {
    width: 1366px;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
      align-items: center;
      width: 400px;
      list-style: none;
      margin-bottom: 200px;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        background-color: var(--gray-300);
        margin-bottom: 16px;
        padding-block: 23px;
        border-radius: 8px;
        padding-inline: 20px;

        img {
          display: flex;
          justify-items: end;
        }

        h3 {
          width: 100%;
          display: flex;
        }
      }
    }
  }
}
